{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div id="cash-info" class="section-container">
    <h2>現金庫存</h2>
    <table class="table table-bordered">
        <tr>
            <td>台幣總額:{{data['taiwanese_dollars']}} 元</td>
            <td>美金總額:{{data['us_dollars']}} 元</td>
            <td>今日匯率(全球即時匯率API: <a href="https://tw.rter.info/howto_currencyapi.php" target="_blank">點擊查看</a>):
                {{data['currency']}}</td>
            <td>現金總額: {{data['total']}} 元</td>
        </tr>
    </table>
    <h4>現金紀錄與更動</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">台幣</th>
                <th scope="col">美金</th>
                <th scope="col">註記</th>
                <th scope="col">時間</th>
                <th scope="col">刪除資料</th>
            </tr>
        </thead>
        <tbody>
            {% for index, data in data['enumerated_cash'] %}
            <tr>
                <td>{{index}}</td>
                <td>{{data['taiwanese_dollars']}}</td>
                <td>{{data['us_dollars']}}</td>
                <td>{{data['note']}}</td>
                <td>{{data['date']}}</td>
                <td>
                    <form action="/del_cash" method="post">
                        <input type="hidden" name="id" value="{{index}}" />
                        <button class="btn btn-danger btn-sm">刪除此筆資料</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr />
<div id="stock-info" class="section-container">
    <h2>股票庫存</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">股票代號:</th>
                <th scope="col">持有股數:</th>
                <th scope="col">目前股價:</th>
                <th scope="col">目前市值:</th>
                <th scope="col">股票總資產占比(%):</th>
                <th scope="col">購買總成本(包含手續費):</th>
                <th scope="col">平均成本</th>
                <th scope="col">報酬率(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for index, data in data['enumerated_stock'] %}
            <tr>
                <td>{{ data['stock_id'] }}</td>
                <td>{{ data['shares'] }}</td>
                <td>{{ data['current_price'] }}</td>
                <td>{{ data['total_value'] }}</td>
                <td>{{ data['value_percentage'] }}</td>
                <td>{{ data['stock_cost'] }}</td>
                <td>{{ data['average_cost'] }}</td>
                <td>{{ data['rate_of_return'] }}</td>
                <td>
                    <form action="/del_stock" method="post">
                        <input type="hidden" name="stock_id" value="{{index}}">
                        <button class="btn btn-danger btn-sm">刪除此筆資料</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="chart" class="chart-container">
    {% if data['show_pic_1'] %}
    <figure class="chart-figure">
        <figcaption>股票庫存占比圖</figcaption>
        <img src="{{ url_for('static', filename='piechart.jpg') }}" alt="股票庫存占比圖" />
    </figure>
    {% endif %}
    {% if data['show_pic_2'] %}
    <figure class="chart-figure">
        <figcaption>資產比例占比圖</figcaption>
        <img src="{{ url_for('static', filename='piechart2.jpg') }}" alt="資產比例占比圖" />
    </figure>
    {% endif %}
</div>

{% endblock %}